/* 
    Document   : Commercial.css
    Created on : 22 avr. 2013, 16:42:06
    Author     : Gilles Hemmerlé <giloux@gmail.com>
    Description:
        The special styles for the igestis commercial module
*/

table#document-items input {
    width: auto !important;
}

.form-condensed .control-group {
    margin-top: 0;
    margin-bottom: 5px;
}

#id-imprint+input+iframe, #id-terms+input+iframe {
    height: 500px !important;
}