<form>
<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped table-hover" id="articlesListTable">
   <thead>
       <tr>
           <th>{% trans %}Sel{% endtrans %}</th>
           <th>{% trans %}Ref{% endtrans %}</th>
           <th>{% trans %}Designation{% endtrans %}</th>
           <th>{% trans %}Amount without taxes{% endtrans %}</th>
       </tr>
   </thead>
   <tbody>
      
   </tbody>
</table>
</form>