<div><strong>{% trans %}Total commercial docs{% endtrans %} : </strong><span id="tot-comm-doc">{{ project.totCommercialDoc|number_format(2) }}</span></div>
<div><strong>{% trans %}Total intervention time{% endtrans %} : </strong><span id="tot-comm-doc">{{ project.totSupportIntervention }}</span></div>
<div><strong>{% trans %}Total buying invoices{% endtrans %} : </strong><span id="tot-comm-doc">{{ project.totBuyingInvoices|number_format(2) }}</span></div>