{% import "form.twig" as forms %}
<form id="add-new-or-edit-amount" action="" method="post" class="modal-form ajax-emulation-validation">
    {{ forms.select('purchasingAccount', 'Purchasing account'|trans, purchaisingAccountsList, null, 'id', 'label') }}
    <div class="row-fluid">
            <div class="span4 offset4">
            {{ forms.symbol('amountTi', 'Amount taxes included'|trans, null, providerInvoice.company.symbolMoney) }}
            </div>
    </div>
    <div class="row-fluid">
            <div class="span4">
            {{ forms.symbol('amountDf', 'Amount without taxes'|trans, null, providerInvoice.company.symbolMoney) }}
            </div>
            <div class="span2 offset1">
            <strong>{% trans %}Or{% endtrans %}</strong>
            </div>
            <div class="span4">
            {{ forms.symbol('taxes', 'Taxes'|trans, null, providerInvoice.company.symbolMoney) }}
            </div>
    </div>
    <div class="row-fluid">
            <div class="span4 offset4">
                <a href="javascript:;" onclick="javascript:igestisCommercial.editPopover.popover('hide');" class="btn">Close</a>
                <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
            </div>
    </div>
</form>
